

<div class = page>
<mat-toolbar color="primary" class=" nav-bar"> 
<div class = nav>
    <p>Welcome to Trader Clothes!</p>
    <app-search-bar></app-search-bar>
    <a class = check style="float:right" [routerLink]="['/checkoutcart']"> <img src="https://image.shutterstock.com/image-vector/shopping-cart-vector-icon-flat-260nw-1690453492.jpg" style='width:50px; height:50px' width="1000" height="100"> </a>
    <a class = profile style="float:right" [routerLink]="['/profileDispaly']"> <img src="https://media.istockphoto.com/vectors/user-icon-people-icon-isolated-on-white-background-vector-vector-id1210939712?k=20&m=1210939712&s=612x612&w=0&h=xJqEPQnMiNofprbLXWdEtJQ75QL79lQ5N76J4JOdTIM="style='width:50px; height:50px'></a>
</div>
</mat-toolbar>
</div>

